<a
 style="cursor: pointer;"
 [routerLink]="[index]"
 routerLinkActive="active"
 class="list-group-item clearfix">
    <div class="pull-left">
        <h3 class="list-group-item-heading">{{ publication.title }}</h3>
        <h4 class="list-group-item-heading">Publication type : {{ publication.publication_type }}</h4>
        <p class="list-group-item-text">{{ publication.abstract_text }}</p>
    </div>
    <span class="pull-right">
<img [src]="publication.imagePath"
 alt="{{ publication.title }}"
 class="img-responsive"
 style="max-height: 50px;">
</span>
</a>
